<section>
    <div class="p-5 container border border-solid">
        <div>
          <div class="row text-center">
            <h3 class="pt-10"><b>ECOM</b><span class="yellow"> SHOPPING SITE</span></h3>
            <h5 class="pt-2"><u> ADMIN LOGIN</u></h5>

           <div class="container w-50 pt-2">
        <form action="admin/admin-verify" method="post">
  <!-- usename input -->
  <div data-mdb-input-init class="form-outline mb-4 ">
    <input type="text" id="username" name="username" class="form-control " />
    <label class="form-label" for="username">Username</label>
  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="password" name="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>


  <!-- Submit button -->
  <button  type="submit"  class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Login issue contact -->
  <div class="text-center">
    <p>login issue? <a href="#!">contact</a></p>
  </div>
</form>
    </div>

          </div>
        </div>
    </div>
</section>

<style>
 b{
    color: brown;
 }
 .yellow{
    color: yellowgreen;
 }
</style>