 <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 ">
        <div class="black-border">
          <h1>ORDER PLACED SUCCESSFULY</h1>
          <a href="/orders-list" class="btn btn-primary"> Go to Orders</a>
    
        </div>
      </div>
    </div>
  </div>

  <style>
    .black-border {
      border: 1px solid black;
      padding: 10px; 
    }
    .row{
        width: 1250px;
    }
  </style>